<p>Querida Zuli,</p>
<p>
  Primeramente quiero pedirte perdón, a lo mejor no he sido el mejor novio ni la
  mejor persona contigo.
</p>
<p>
  También siento culpa por cómo has estado porque tampoco he hecho mucho para
  poder tener contigo un espacio a solas y que por fin seamos tú y yo.
</p>
<p>
  No he sabido poner límites y cuando te afecto te hice sentir mal por
  simplemente reaccionar y ser víctima sin pensarlo, y quiero pedirte perdón de
  la manera más sincera posible.
</p>
<p>
  No quiero que pienses que no te amo, que no me interesas, porque de ser
  necesario, moriría por ti, todo el día pienso en el instante en que te pueda
  ver así sea de lejos y apretar tu mano así tengamos que fingir que no nos
  amamos, pero también sueño y voy a luchar para que tengamos espacios para que
  podamos ser tú y yo, reconozco que no he luchado por ello tanto como a lo
  mejor tú lo has hecho, mi niña.
</p>
<p>
  Yo no pienso dejarte ir, no te quiero perder, jamás, quiero llegar a viejo a
  tu lado, y recordar esto como solo un bache en el camino, porque mi vida sería
  vacía, triste y sin sentido si no estás tú, si no tengo a mi chinita linda a
  mi lado, a mi muñequita de porcelana, a mi estrellita linda.
</p>
<p>
  Prefiero ser el intenso que en contra de voluntad solucione nuestros problemas
  y escuche lo que pasa por tu mente y tu corazón que dejarte sufrir solita y en
  silencio, porque mi felicidad depende de la tuya; no somos dos, somos uno y
  por ti, mi amor, soy capaz de lo imposible.
</p>
<p>
  No quiero que pienses que no te amo, que no me interesas, porque de ser
  posible, pondría mi corazón en tus manos para que veas que no miento, que no
  juego, que no te quiero perder, que no quiero que te vayas, que no quiero que
  me dejes, que no quiero que me olvides, que no quiero que me dejes de amar.
</p>
<p>
  Si tu me dejas, voy a estar a tu lado toda mi vida, así llores, grites, rías,
  hagas pataleta, hagas lo que hagas, tu Santi no va a dejar de verte enamorado
  y con ganas darte el corazón todo el día, todos los días.
</p>
<p class="text-right">Tu Santi, tu niño</p>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");
  * {
    font-family: "Cherry Bomb", Courier, monospace;
    font-size: .8em;
    font-weight: bold;
  }
</style>
