---
import Texto from "./Texto.astro";
---

<main class="flex flex-col items-center justify-center min-h-screen my-10 p-6">
  <h1 class="text-6xl font-bold mb-6 uppercase text-[#5c3a1b] drop-shadow-lg">Mi Zuli</h1>
  <Texto />
</main>
