<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Zuli, me duele mucho haberte lastimado sin querer, pero quiero que sepas que te amo con todo mi corazón y que estoy dispuesto a hacer lo que sea por ti."
    />
    <title>Para el amor de mi vida</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Meow+Script&display=swap");
  html,
  body {
    font-family: "Meow Script", cursive;
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
